@font-face {
  font-family: 'Sarabun-Bold';
  src: url('./Sarabun-Bold.ttf');
  src: url('./Sarabun-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sarabun-BoldItalic';
  src: url('./Sarabun-BoldItalic.ttf');
  src: url('./Sarabun-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sarabun-ExtraBold';
  src: url('./Sarabun-ExtraBold.ttf');
  src: url('./Sarabun-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sarabun-ExtraBoldItalic';
  src: url('./Sarabun-ExtraBoldItalic.ttf');
  src: url('./Sarabun-ExtraBoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sarabun-ExtraLight';
  src: url('./Sarabun-ExtraLight.ttf');
  src: url('./Sarabun-ExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sarabun-ExtraLightItalic';
  src: url('./Sarabun-ExtraLightItalic.ttf');
  src: url('./Sarabun-ExtraLightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sarabun-Italic';
  src: url('./Sarabun-Italic.ttf');
  src: url('./Sarabun-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sarabun-Light';
  src: url('./Sarabun-Light.ttf');
  src: url('./Sarabun-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sarabun-LightItalic';
  src: url('./Sarabun-LightItalic.ttf');
  src: url('./Sarabun-LightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sarabun-Medium';
  src: url('./Sarabun-Medium.ttf');
  src: url('./Sarabun-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sarabun-MediumItalic';
  src: url('./Sarabun-MediumItalic.ttf');
  src: url('./Sarabun-MediumItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sarabun-Regular';
  src: url('./Sarabun-Regular.ttf');
  src: url('./Sarabun-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sarabun-SemiBold';
  src: url('./Sarabun-SemiBold.ttf');
  src: url('./Sarabun-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sarabun-SemiBoldItalic';
  src: url('./Sarabun-SemiBoldItalic.ttf');
  src: url('./Sarabun-SemiBoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sarabun-Thin';
  src: url('./Sarabun-Thin.ttf');
  src: url('./Sarabun-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sarabun-ThinItalic';
  src: url('./Sarabun-ThinItalic.ttf');
  src: url('./Sarabun-ThinItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
