<header>
  <nav class="container">
    <p class="app-title">MyApp</p>
    <ul class="user-profile">
      <li><a>Login</a></li>
      <li>Hi Guest <a>Logout</a></li>
    </ul>
  </nav>
</header>

<main>
  <div class="container">
    <article class="app-topic">
      <div class="badge-ctn">
        <label class="badge">Badge A</label>
        <label class="badge">Badge B</label>
        <label class="badge">Badge C</label>
      </div>
      <h2>
        <a>Velit esse esse eu excepteur id cillum minim. Quis consequat labore excepteur veniam culpa aliquip ut veniam tempor aliqua cillum id.</a>
      </h2>
      <div class="label-ctn">
        <label class="label"><a>Label A</a></label>
        <label class="label"><a>Label B</a></label>
        <label class="label"><a>Label C</a></label>
      </div>
    </article>
    <article class="app-topic">
      <div class="badge-ctn">
        <label class="badge">Badge A</label>
        <label class="badge">Badge B</label>
        <label class="badge">Badge C</label>
      </div>
      <h2>
        <a>Velit esse esse eu excepteur id cillum minim. Minim occaecat consequat labore anim dolor voluptate irure consectetur commodo dolor dolore labore ullamco. Ut tempor nisi et quis magna non.</a>
      </h2>
      <div class="label-ctn">
        <label class="label"><a>Label A</a></label>
        <label class="label"><a>Label B</a></label>
        <label class="label"><a>Label C</a></label>
      </div>
    </article>
    <article class="app-topic">
      <div class="badge-ctn">
        <label class="badge">Badge A</label>
        <label class="badge">Badge B</label>
        <label class="badge">Badge C</label>
      </div>
      <h2>
        <a>Minim occaecat consequat labore anim dolor voluptate irure consectetur commodo dolor dolore labore ullamco. Ut tempor nisi et quis magna non.</a>
      </h2>
      <div class="label-ctn">
        <label class="label"><a>Label A</a></label>
        <label class="label"><a>Label B</a></label>
        <label class="label"><a>Label C</a></label>
      </div>
    </article>
    <article class="app-topic">
      <div class="badge-ctn">
        <label class="badge">Badge A</label>
        <label class="badge">Badge B</label>
        <label class="badge">Badge C</label>
      </div>
      <h2>
        <a>Minim occaecat consequat labore anim dolor voluptate irure consectetur commodo dolor dolore labore ullamco. Ut tempor nisi et quis magna non.</a>
      </h2>
      <div class="label-ctn">
        <label class="label"><a>Label A</a></label>
        <label class="label"><a>Label B</a></label>
        <label class="label"><a>Label C</a></label>
      </div>
    </article>
  </div>
</main>

<footer>
  <div class="container">
    <p>footer <a>copyright</a></p>
  </div>
</footer>
